@import "vendors/bootstrap-3.1.1/bootstrap.scss";
@import "vendors/font-awesome/font-awesome.scss";


#search-controls {
  margin-bottom: 48px;
  div {
    img {
      margin: 15px auto;
    }
  }
}

#search-filter-bar {
  margin-bottom: 15px;
  #filter {
    .row {
      margin-top: 10px;
    }
  }
}

#sub-filter {
  label {
    margin-right: 10px;
    padding: 5px;
  }
}