@import "compass/css3";
@import "vendors/bootstrap-3.1.1/bootstrap";
@import "vendors/font-awesome/font-awesome";
@import "vendors/css/ionicons";
@import "vendors/AdminLTE/AdminLTE";
@import "nav";
@import "typeahead";

#search-controls div img {
  margin: 15px auto;
}

.logo {
  img {
    max-height: 30px;
  }
}

.google-btn {
  margin: 100px auto 0;
  display: block;
  width: 300px;
  height: 55px;
  background-size: contain;
  @include background(url(/assets/img/google-signin-base.png));

  &:hover, &.hover {
    @include background(url(/assets/img/google-signin-hover.png));
  }
}